<ion-content [fullscreen]="true">
  
    <ion-header>
        <ion-toolbar>
            <div id="titulo">
                <p>Ofertas</p>
              </div>
        </ion-toolbar>
      </ion-header>

<ion-card>
  
    <img src="assets/galeriaf/cab1/cabana1.jpg" >

<ion-card-content>
 <ion-card-header>
     <ion-card-title>Oferta Cabaña Familiar/4 pers</ion-card-title>
   </ion-card-header>
   <ion-card-content>
    Emplazadas en un hermoso entorno, frente a la playa con vista privilegiada <br> 
     Cabaña  familiar para 4  personas desde $95.000.
     Durante Septiembre | 4 noches:
     Cabañas para 4 personas<p class="valor"> $95.000 </p> 
   </ion-card-content>

 <br>
 

     
 <form> 
  
   <p class="clasificacion"> 
     <input id="radio1" type="radio" name="estrellas" value="5">
    <label for="radio1">★</label>
   <input id="radio2" type="radio" name="estrellas" value="4">
     <label for="radio2">★</label>
     <input id="radio3" type="radio" name="estrellas" value="3">
     <label for="radio3">★</label>
     <input id="radio4" type="radio" name="estrellas" value="2">
     <label for="radio4">★</label>
    <input id="radio5" type="radio" name="estrellas" value="1">
     <label for="radio5">★</label>
   </p>
   <!--<div class="pe">Clasificaciòn</div>--> 
 </form>
 <ion-footer class="ver"> 
     <ion-button color="secondary" routerLink="/galeriaf1"   >
    <p class="ver">ver </p><ion-icon name="chevron-forward-outline"></ion-icon>    
   </ion-button>
</ion-footer>
</ion-card-content>
</ion-card>

<!--cabaña 2--> 

<br>
<ion-card>
    <img src="assets/galeriaf/cab2/cabana2.jpg" >
    <ion-card-content>
     <ion-card-header>
         <ion-card-title>Oferta Cabaña Moderna/4 pers</ion-card-title>
       </ion-card-header>
       <ion-card-content>
         Comoda cabaña con vista al mar. <br> 
         Descripción:Emplazadas en un hermoso entorno, frente a la playa con vista privilegiada, hermosa cabaña estilo moderno para 4  personas desde $95.000.
         Durante Septiembre | 4 noches:
         Cabañas para 4 personas<p class="valor"> $95.000 </p>  
       </ion-card-content>
       
     <br>

       <!--puntuaciòn-->   
     <form> 
      
       <p class="clasificacion"> 
         <input id="radio1" type="radio" name="estrellas" value="5">
        <label for="radio1">★</label>
       <input id="radio2" type="radio" name="estrellas" value="4">
         <label for="radio2">★</label>
         <input id="radio3" type="radio" name="estrellas" value="3">
         <label for="radio3">★</label>
         <input id="radio4" type="radio" name="estrellas" value="2">
         <label for="radio4">★</label>
        <input id="radio5" type="radio" name="estrellas" value="1">
         <label for="radio5">★</label>
       </p>
       <!--<div class="pe">Clasificaciòn</div>--> 
     </form>
     <ion-footer class="ver"> 
         <ion-button color="secondary" routerLink="/galeriaf2"   >
        <p class="ver">ver</p><ion-icon name="chevron-forward-outline"></ion-icon> 
       </ion-button>
    </ion-footer>
    </ion-card-content>
    </ion-card>

<!--cabaña 3--> 

<br>
<ion-card>
    <img src="assets/galeriaf/cab3/cabana3.jpg" >
    <ion-card-content>
     <ion-card-header>
         <ion-card-title>Oferta Cabaña /2pers</ion-card-title>
       </ion-card-header>
       <ion-card-content>
         Comoda cabaña en el sur de Chile. <br> 
         Equipada.  3 piezas,  1 baño, Living, comedor y cocina.
         Descripción:Emplazadas en un hermoso entorno, frente a la playa con vista privilegiada, Cabañas  para 2  personas desde $45.000.
         Durante Septiembre | 4 noches:
         Cabañas para 2 personas <p class="valor"> $45.000 </p> 
       </ion-card-content>
     
       <br>
     <br>

       <!--puntuaciòn-->   
     <form> 
      
       <p class="clasificacion"> 
         <input id="radio1" type="radio" name="estrellas" value="5">
        <label for="radio1">★</label>
       <input id="radio2" type="radio" name="estrellas" value="4">
         <label for="radio2">★</label>
         <input id="radio3" type="radio" name="estrellas" value="3">
         <label for="radio3">★</label>
         <input id="radio4" type="radio" name="estrellas" value="2">
         <label for="radio4">★</label>
        <input id="radio5" type="radio" name="estrellas" value="1">
         <label for="radio5">★</label>
       </p>
       <!--<div class="pe">Clasificaciòn</div>--> 
      </form>
      <ion-footer class="ver"> 
          <ion-button color="secondary" routerLink="/galeriaf3">
         <p class="ver">ver</p><ion-icon name="chevron-forward-outline"></ion-icon>   
        </ion-button>
     </ion-footer>
     </ion-card-content>
     </ion-card>

</ion-content>