.menu {

        text-align: center;
        font-family: "Ephesis";
        font-weight:bold;
        font-size:35px;
        margin:0;
        padding:0;
      }
      
  
      
      @font-face {
       
        font-family: 'Ephesis';
      
      
        src: url('/assets/fonts/Ephesis-Regular.ttf');
      
      
      }
