<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar>
            <div id="titulo">
                <p>Bienvenido</p>
              </div>
        </ion-toolbar>
      </ion-header>

<ion-card>
  
<img src="assets/Galeria/cab1/cabania 1.jpg" >

<ion-card-content>
 <ion-card-header>
     <ion-card-title>Cabaña 1</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     Comoda cabaña con vista al mar. <br> 
     Equipada.  2 piezas,  1 baño, Living, comedor, cocina y Terraza.
   </ion-card-content>
   <p class="valor"> $50.0000 <br><p>por noche</p>
 <br>
 

     
 <form> 
  
   <p class="clasificacion"> 
     <input id="radio1" type="radio" name="estrellas" value="5">
    <label for="radio1">★</label>
   <input id="radio2" type="radio" name="estrellas" value="4">
     <label for="radio2">★</label>
     <input id="radio3" type="radio" name="estrellas" value="3">
     <label for="radio3">★</label>
     <input id="radio4" type="radio" name="estrellas" value="2">
     <label for="radio4">★</label>
    <input id="radio5" type="radio" name="estrellas" value="1">
     <label for="radio5">★</label>
   </p>
   <!--<div class="pe">Clasificaciòn</div>--> 
 </form>
 <ion-footer class="ver"> 
     <ion-button color="secondary" routerLink="/galeria"   >
    <p class="ver">ver </p><ion-icon name="chevron-forward-outline"></ion-icon>    
   </ion-button>
</ion-footer>
</ion-card-content>
</ion-card>

<!--cabaña 2--> 

<br>
<ion-card>
    <img src="assets/Galeria/cab2/cab2.jpg" width= 2000px>
    <ion-card-content>
     <ion-card-header>
         <ion-card-title>Cabaña 2</ion-card-title>
       </ion-card-header>
       <ion-card-content>
         Comoda cabaña con vista al mar. <br> 
         Equipada.  3 piezas,  1 baño, Living, comedor, cocina y Terraza.
       </ion-card-content>
       <p class="valor"> $60.0000 <br><p>por noche</p>
     <br>

       <!--puntuaciòn-->   
     <form> 
      
       <p class="clasificacion"> 
         <input id="radio1" type="radio" name="estrellas" value="5">
        <label for="radio1">★</label>
       <input id="radio2" type="radio" name="estrellas" value="4">
         <label for="radio2">★</label>
         <input id="radio3" type="radio" name="estrellas" value="3">
         <label for="radio3">★</label>
         <input id="radio4" type="radio" name="estrellas" value="2">
         <label for="radio4">★</label>
        <input id="radio5" type="radio" name="estrellas" value="1">
         <label for="radio5">★</label>
       </p>
       <!--<div class="pe">Clasificaciòn</div>--> 
     </form>
     <ion-footer class="ver"> 
         <ion-button color="secondary" routerLink="/galeria2"   >
        <p class="ver">ver</p><ion-icon name="chevron-forward-outline"></ion-icon> 
       </ion-button>
    </ion-footer>
    </ion-card-content>
    </ion-card>

<!--cabaña 3--> 

<br>
<ion-card>
    <img src="assets/Galeria/cab3/cab3.jpg" width= 2000px>
    <ion-card-content>
     <ion-card-header>
         <ion-card-title>Cabaña 3</ion-card-title>
       </ion-card-header>
       <ion-card-content>
         Comoda cabaña en el sur de Chile. <br> 
         Equipada.  3 piezas,  1 baño, Living, comedor y cocina.
       </ion-card-content>
       <p class="valor"> $45.0000 <br><p>por noche</p>
       <br>
     <br>

       <!--puntuaciòn-->   
     <form> 
      
       <p class="clasificacion"> 
         <input id="radio1" type="radio" name="estrellas" value="5">
        <label for="radio1">★</label>
       <input id="radio2" type="radio" name="estrellas" value="4">
         <label for="radio2">★</label>
         <input id="radio3" type="radio" name="estrellas" value="3">
         <label for="radio3">★</label>
         <input id="radio4" type="radio" name="estrellas" value="2">
         <label for="radio4">★</label>
        <input id="radio5" type="radio" name="estrellas" value="1">
         <label for="radio5">★</label>
       </p>
       <!--<div class="pe">Clasificaciòn</div>--> 
      </form>
      <ion-footer class="ver"> 
          <ion-button color="secondary" routerLink="/galeria3">
         <p class="ver">ver</p><ion-icon name="chevron-forward-outline"></ion-icon>   
        </ion-button>
     </ion-footer>
     </ion-card-content>
     </ion-card>

</ion-content>



